<a11y-header></a11y-header>

<section class="about">
    <div class="container">
        <div class="title">
            <h1>{{'aboutPage.title' | translate}}</h1>
        </div>
        
        <div class="content">
            <p>{{'aboutPage.firstParagraph' | translate}}</p>
            <div class="paragraph">
                <h2>{{'aboutPage.secondParagraph.title' | translate}}</h2>
                <p>{{'aboutPage.secondParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'aboutPage.thirdParagraph.title' | translate}}</h2>
                <p>{{'aboutPage.thirdParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'aboutPage.fourthParagraph.title' | translate}}</h2>
                <p>{{'aboutPage.fourthParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'aboutPage.fifthParagraph.title' | translate}}</h2>
                <p>{{'aboutPage.fifthParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'aboutPage.sixthParagraph.title' | translate}}</h2>
                <p>{{'aboutPage.sixthParagraph.content' | translate}}</p>
            </div>
        </div>
    </div>
</section>
