.about{
  min-height: 100vh;
  padding-top: 150px;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 200px;
  .title {
    margin-bottom: 5rem;
  }
  .paragraph {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
      margin-bottom: 1rem;
    }
  }
}
