/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Space+Grotesk:wght@300;400;500;700&display=swap');

:root {
  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-slate: #f2ede4;
  --color-dark: #1d1d1d;
  --color-accent: #63bf94;
  --color-stroke: #d2d2d2;
  --color-light: #fdfaf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;

  @media (max-width: 37.5em) {
    font-size: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: bold;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

body {
  background-color: #f2ede4;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.float-left {
  float: left;
}
