<a11y-header></a11y-header>

<h1>Register</h1>
@if (submitSuccess) {
<div class="success">
  <h2>You are register!</h2>
  <p>Welcome to a11y</p>
</div>
}

<div class="container">
  <div class="register-form">
    <h1>Register</h1>

    <form class="register-container" #registerForm="ngForm">
      <div class="form-row">
        <div class="label">
          <label for="email">Email: </label>
        </div>
        <input
          class="register-form__input"
          type="email"
          [(ngModel)]="data.email"
          name="email"
          id="email"
          required
          placeholder="Address e-mail"
        />
      </div>
      <div class="form-row">
        <div class="label">
          <label for="password">Password:</label>
        </div>
        <input
          class="register-form__input"
          type="password"
          [(ngModel)]="data.password"
          name="password"
          id="password"
          required
          placeholder="Password"
          (paste)="doNothing($event)"
          onpaste="event.preventDefault()"
        />
      </div>
      <div class="form-row">
        <div class="label">
          <label for="confirmPassword">Confirm Password:</label>
        </div>
        <input
          class="register-form__input"
          type="password"
          [(ngModel)]="data.confirmPassword"
          name="confirmPassword"
          id="confirmPassword"
          required
          placeholder="Confirm Password"
          (paste)="doNothing($event)"
          onpaste="event.preventDefault()"
        />
      </div>
      <div class="form-row">
        <button
          class="register-form__button"
          (click)="register()"
          [disabled]="registerForm['form'].invalid"
        >
          Sign up
        </button>
        <button class="register-form__login" (click)="reset()">Sign in</button>
      </div>
    </form>
  </div>
</div>
