.container {
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  gap: 1rem;

  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background: white;

  padding: 40px 20px;
  margin-bottom: 50px;
  margin-top: 10rem;
}

.label {
  float: left;
  min-width: 150px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 30px;

  &:last-child {
    text-align: center;
  }
}
.register-form__input {
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: 1px solid rgb(221, 221, 221);
}
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.register-form__button {
  place-self: right;
  max-width: fit-content;
  // place-self: flex-end;
  border-radius: 0.5rem;
  padding: 0.6rem 1.6rem;
  background: #63bf94;
  color: white;
  border: none;
  cursor: pointer;
}
.register-form__login {
  place-self: right;
  max-width: fit-content;
  // place-self: flex-end;
  border-radius: 0.5rem;
  padding: 0.6rem 1.6rem;
  background: gray;
  color: white;
  border: none;
  cursor: pointer;
}
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6f7ef;
  padding: 3.6rem;
  color: #217a51;
  border-radius: 0.5rem;
  border: 1px solid #bfecd8;
  margin-bottom: 3.6rem;
  margin-top: 100px;
}
