<a11y-header></a11y-header>
<h1>Login</h1>

@if (submitSuccess) {
<div class="success">
  <h2>Success login</h2>
  <p>We're delighted to see you again.</p>
</div>
}

<div class="container">
  <div class="login-form">
    <form class="login-container" #registerForm="ngForm">
      <h1 class="login-form__title">Login here</h1>

      <div class="form-row">
        <div class="label">
          <label for="text">Login: </label>
        </div>
        <input
          class="login-form__input"
          type="text"
          [(ngModel)]="data.email"
          name="text"
          id="text"
          required
          placeholder="Email address"
        />
      </div>
      <div class="form-row">
        <div class="label">
          <label for="pwd">Password:</label>
        </div>
        <input
          class="login-form__input"
          type="password"
          [(ngModel)]="data.password"
          name="pwd"
          id="pwd"
          required
          (paste)="doNothing($event)"
          onpaste="event.preventDefault()"
          placeholder="Password"
        />
      </div>

      <div class="form-row">
        <button
          class="login-button"
          (click)="login()"
          [disabled]="registerForm['form'].invalid"
        >
          sign in
        </button>
        <button class="login-create_account" (click)="reset()">Signup</button>
      </div>
    </form>
  </div>
</div>
