.container {
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 10rem;

  border-radius: 5px;
  background: white;
  border: 1px solid rgb(221, 221, 221);

  padding: 50px 20px;
  margin-bottom: 50px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.label {
  float: left;
  min-width: 150px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 30px;

  &:last-child {
    text-align: center;
  }
}
.login-form__input {
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: 1px solid rgb(221, 221, 221);
}

.login-button {
  place-self: right;
  max-width: fit-content;
  // place-self: flex-end;
  border-radius: 0.5rem;
  padding: 0.6rem 1.6rem;
  background: #63bf94;
  color: white;
  border: none;
  cursor: pointer;
}
.login-create_account {
  place-self: center;
  place-self: right;
  max-width: fit-content;
  // place-self: flex-end;
  border-radius: 0.5rem;
  padding: 0.6rem 1.6rem;
  background: gray;
  color: white;
  border: none;
  cursor: pointer;
}
.login-form__title {
  place-self: center;
  font-size: 3rem;
  font-weight: bold;
}
