<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Links</h3>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a (click)="goToAbout()" (keyup.enter)="goToAbout()" tabindex="0" role="button">About</a></li>
            <li><a (click)="goToNews()" (keyup.enter)="goToNews()" tabindex="0" role="button">News</a></li>
            <li><a routerLink="/lists">Lists</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Account</h3>
          <ul>
            @if (!authService.isLoggedIn()) {
              <li><a (click)="goToLogin()" (keyup.enter)="goToLogin()" tabindex="0" role="button">Login</a></li>
              <li><a (click)="goToRegister()" (keyup.enter)="goToRegister()" tabindex="0" role="button">Register</a></li>
            } @else {
              <li><a (click)="logout()" (keyup.enter)="logout()" tabindex="0" role="button">Logout</a></li>
            }
          </ul>
        </div>
        <div class="footer-section">
          <h3>Legal</h3>
          <ul>
            <li><a (click)="goToLegalNotices()" (keyup.enter)="goToLegalNotices()" tabindex="0" role="button">Legal Notices</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Contact us</h3>
          <a (click)="goToContact()">Contact form</a>
          <p>Email: contact&#64;monentreprise.com</p>
          <p>Phone: +33 123 456 789</p>
        </div>
      </div>
      <div class="copyright">
        <p>&#169; 2023 A11Y. All rights reserved.</p>
      </div>
    </div>
  </footer>
  