footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .footer-content {
      display: flex;
      justify-content: space-between;
    }

    .footer-section {
      flex: 1;

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 8px;

          a {
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      p {
        margin: 5px 0;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 20px;
    }
  }
}
