<a11y-header></a11y-header>

<section class="about">
    <div class="container">
        <div class="title">
            <h1>{{'legalNotices.title' | translate}}</h1>
        </div>
        
        <div class="content">
            <p>{{'legalNotices.firstParagraph' | translate}}</p>
            <div class="paragraph">
                <h2>{{'legalNotices.secondParagraph.title' | translate}}</h2>
                <p>{{'legalNotices.secondParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'legalNotices.thirdParagraph.title' | translate}}</h2>
                <p>{{'legalNotices.thirdParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'legalNotices.fourthParagraph.title' | translate}}</h2>
                <p>{{'legalNotices.fourthParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'legalNotices.fifthParagraph.title' | translate}}</h2>
                <p>{{'legalNotices.fifthParagraph.content' | translate}}</p>
            </div>
            <div class="paragraph">
                <h2>{{'legalNotices.sixthParagraph.title' | translate}}</h2>
                <p>{{'legalNotices.sixthParagraph.content' | translate}}</p>
            </div>
        </div>
    </div>
</section>
