<a11y-header></a11y-header>

<div class="not-allowed">
  <div class="container">
    <div class="card">
      <img src="" alt="" />
      <h1>Ooops, it's look's like your in the wrong place.<br /></h1>
      <h2>You are already logged in.</h2>
      <div class="gentle">Please log out first</div>
      <div>
        <a routerLink="/">&larr; Back</a>
      </div>
    </div>
  </div>
</div>
