.news {
  min-height: 100vh;
  padding-top: 150px;

  h1 {
    margin-bottom: 4rem;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__header {
    h2 {
      margin-top: 2.6rem;
      margin-bottom: 0.6rem;
    }

    h2 a {
      color: var(--color-dark);
      font-size: 2.4rem;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
    }

    &__date {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      color: var(--color-accent);
      font-weight: bold;
    }
  }

  &__content {
    p {
      margin-bottom: 2.6rem;
    }

    a {
      color: var(--color-dark);
      font-weight: medium;
      background-color: var(--color-accent);
      color: var(--color-light);
      padding: 0.8rem 1.6rem;
      border-radius: 5px;
    }
  }
}

// reponsive for mobile, grid layout will be changed to 1 column
@media (max-width: 768px) {
  .news {
    padding-top: 70px;
    padding-bottom: 70px;

    &__items {
      grid-template-columns: 1fr;
    }
  }
}
