<a11y-header></a11y-header>

<section class="news">
  <div class="container">
    <h1>News</h1>
    <div class="news__items">
      @for (news of (allNews$ | async); track news.id) {
      <div class="news__item">
        <div class="news__header">
          <img
            src="https://picsum.photos/300/200"
            alt="Lorem Picsum images"
            (click)="navigateToNews(news.id)"
          />
          <div class="news__header__date">{{ news.date | date }}</div>
          <h2>
            <a [href]="'news/' + news.id"> {{ news.title }}</a>
          </h2>
        </div>
        <div class="news__content">
          <p>{{ news.description }}</p>
          <a [href]="'news/' + news.id">Read more</a>
        </div>
      </div>
      } @empty {
      <div class="news_item">
        <h2>No news</h2>
      </div>
      }
    </div>
  </div>
</section>
