<div class="header" [class.background]="isScrolled || isMenuOpen || !isHome">
  <a class="header__logo" routerLink="/"><strong>a11y</strong> Project</a>
  <div class="header__menu" [ngClass]="{ 'active': isMenuOpen}">
    <a class="header__menu-link" [class.active]="isHome" routerLink="/"> {{'headers.home' | translate}} </a>
    <a class="header__menu-link" routerLink="/about"> {{'headers.about' | translate}} </a>
    <a class="header__menu-link" routerLink="/contact" [class.active]="isContact"> {{'headers.contact' | translate}} </a>
    <a class="header__menu-link" routerLink="/news" [class.active]="isNews"> {{'headers.news' | translate}} </a>
    <a class="header__menu-link" routerLink="/lists" [class.active]="isList"> {{'headers.list' | translate}} </a>
    @if (!authService.isLoggedIn()) {
    <a class="header__menu-link" [class.active]="isLogin" routerLink="/login"> {{'headers.login' | translate}} </a>
    <a class="header__menu-link" [class.active]="isRegister" routerLink="/register"> {{'headers.register' | translate}} </a>
    } @else {
    <a class="header__menu-link" (click)="logout()"> Logout </a>
    }

  </div>
  <div class="header__rightElement">
      <div class="header__translate">
        <select (change)="onChangeLanguage($event)">
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </div>
    <div class="header__burger-menu" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
