.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  background: none;
  color: var(--color-light);
  position: fixed;
  align-content: space-around;
  width: 100%;

  &.background {
    background-color: var(--color-dark);
  }
  &__logo {
    float:left;
    padding: 10px;
    font-weight: bolder;
    color: var(--color-light);

    & strong {
      color: var(--color-accent);
    }
  }

  &__menu {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    &.active {
      background-color: var(--color-dark);
    }
    &-link {
      display: flex;
      text-decoration: none !important;
      color: var(--color-light);
      cursor: pointer;
      &.active {
        color: var(--color-accent);
      }
    }
  }
  .header__rightElement{
    display: flex;
    .header__translate{
      margin-right: 10px;
      select{
        height: 25px;
        border: none;
        border-radius: 6px;
        background: var(--color-dark);
        color: var(--color-light);
      }
    }
  }
  .header__burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 4px 0;
    }
  }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      z-index: 1;
    }

    .header__burger-menu {
      display: block;
    }

    .header__menu.active {
      display: flex;
    }
  }
}






