<a11y-header></a11y-header>

<section class="section section--1">
  <div class="container">
    <div class="section__content">
      <div class="section__content__text">
        <h1 class="section__title"><strong>{{'homepage.titlep1' | translate}}</strong>{{'homepage.titlep2' | translate}}</h1>
        <p class="paragraph">
          {{'homepage.text' | translate}}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--2">
  <div class="container">
    <h2 class="section__title">{{'homepage.strength.title' | translate}}</h2>
    <div class="section__content">
      <div class="card-container">
        <div class="card card--1">
          <div class="card__header">
            <div class="card__icons">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
                />
              </svg>
            </div>
            <h3>{{'homepage.strength.card1title' | translate}}</h3>
          </div>
          <div class="card__body">
            {{'homepage.strength.card1text' | translate}}
          </div>
        </div>

        <div class="card card--2">
          <div class="card__header">
            <div class="card__icons">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </div>
            <h3>{{'homepage.strength.card2title' | translate}}</h3>
          </div>
          <div class="card__body">
            {{'homepage.strength.card2text' | translate}}
          </div>
        </div>

        <div class="card card--3">
          <div class="card__header">
            <div class="card__icons">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
                />
              </svg>
            </div>
            <h3>{{'homepage.strength.card3title' | translate}}</h3>
          </div>
          <div class="card__body">
            {{'homepage.strength.card3text' | translate}}
          </div>
        </div>

        <div class="card card--4">
          <div class="card__header">
            <div class="card__icons">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                />
              </svg>
            </div>
            <h3>Support</h3>
          </div>
          <div class="card__body">
            {{'homepage.strength.card4text1' | translate}}
            <a href="/contact">{{'homepage.strength.card4link' | translate}}</a>{{'homepage.strength.card4text2' | translate}}
            <a href="mailto:a11y.project@mail.com">a11y.project&#64;mail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="button"><button>{{'button.more' | translate}}</button></div>
  </div>
</section>

<section class="section section--3">
  <div class="container">
    <h2 class="section__title">Testimonies</h2>
    <div class="section__content">
      <div class="testimony">
        <div class="testimony__image">
          <img src="assets/home-testimony-portrait-1.webp" alt="A photo." />
        </div>
        <div class="testimony__content">
          <h3 class="testimony__author">{{'homepage.testimonies.title1' | translate}}</h3>
          <p class="testimony__quote">
            {{'homepage.testimonies.text1' | translate}}
          </p>
        </div>
      </div>
      <div class="testimony">
        <div class="testimony__image">
          <img src="assets/home-testimony-portrait-2.webp" alt="A photo." />
        </div>
        <div class="testimony__content">
          <h3 class="testimony__author">{{'homepage.testimonies.title2' | translate}}</h3>
          <p class="testimony__quote">
            {{'homepage.testimonies.text2' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section gallery">
  <div class="container">
    <h2 class="section__title">{{'homepage.image.title' | translate}}</h2>
    <div class="section__content">
      <div class="grid">
        <div class="image">
          <img
            src="assets/home-page-gallery-1.webp"
            alt="A keyboard for visually impaired"
          />
          <div class="image__caption">
            Photo by
            <a
              href="https://unsplash.com/@sigmund?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Sigmund</a
            >
            on
            <a
              href="https://unsplash.com/photos/person-holding-black-plastic-case-HE1zW44Zm_Y?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Unsplash</a
            >
          </div>
        </div>

        <div class="image">
          <img
            src="assets/home-page-gallery-3.webp"
            alt="A women hiding her eyes with her hands"
          />
          <div class="image__caption">
            Photo by
            <a
              href="https://unsplash.com/@ivalex?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Ivan Aleksic</a
            >
            on
            <a
              href="https://unsplash.com/photos/woman-in-black-long-sleeve-shirt-covering-her-face-hko-iWhYdYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Unsplash</a
            >
          </div>
        </div>

        <div class="image">
          <img
            src="assets/home-page-gallery-2.webp"
            alt="A prototype of hand gadget to help blind people : Blindotor"
          />
          <div class="image__caption">
            Photo by
            <a
              href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Elizabeth Woolner</a
            >
            on
            <a
              href="https://unsplash.com/photos/a-persons-hand-on-a-table-with-a-chain-attached-to-it-oRZJSFcFjNk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Unsplash</a
            >
          </div>
        </div>

        <div class="image">
          <img
            src="assets/home-page-gallery-4.webp"
            alt="A men hiding her eyes with her hands"
          />
          <div class="image__caption">
            Photo by
            <a
              href="https://unsplash.com/@franganillo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Jorge Franganillo</a
            >
            on
            <a
              href="https://unsplash.com/photos/man-wearing-red-crew-neck-sweater-with-teal-and-black-backpack-outdoor-during-daytime-6KO9KV8QP-c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Unsplash</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
