.section {
  color: white;
  height: max-content;
  padding-block: 10rem;

  .section__title {
    color: var(--color-dark);
    margin-bottom: 5rem;
  }

  & strong {
    color: #069b8f;
    font-size: bold;
    font-size: inherit;
  }

  &__content {
    display: flex;
    height: 100%;
    flex: 1;

    &__text {
      max-width: 350px;
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}

.section--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/assets/home-page-section-1-background.webp');
  background-size: cover;
  height: 600px;
  padding-bottom: 10rem;

  .section__title {
    color: white;
  }
}

.section--2 {
  background-color: var(--color-slate);

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .card {
    width: 20%;
    height: 280px;
    color: var(--color-dark);
    background-color: #fdfaf4;
    padding: 26px 26px;
    border: 1px solid var(--color-stroke);
    border-radius: 10px;

    &__header {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px 10px 0 0;
      margin-bottom: 2rem;
    }

    &__icons {
      margin: auto;
      margin-bottom: 1rem;
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-dark);
      border-radius: 100%;

      & svg {
        width: 30px;
        height: 30px;
        color: var(--color-slate);
      }
    }
  }

  .button {
    margin-top: 6rem;
    text-align: center;
    button {
      background-color: var(--color-accent);
      cursor: pointer;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      padding: 1rem 2rem;
      border: none;
    }
  }
}

.section--3 {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section__title {
    color: white;
  }

  .section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;

    .testimony {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-right: 2rem;
      }

      &__content {
        font-family: var(--font-body);
        h3 {
          margin-bottom: 1rem;
        }

        p {
          color: #aaaaaa;
        }
      }
    }
  }
}

.gallery {
  color: var(--color-dark);

  img {
    width: 100%;
  }

  .image__caption {
    text-align: center;
    color: #aaaaaa;

    a {
      color: #888787;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

// RESPONSIVE

@media screen and (max-width: 1100px) {
  .section--1 {
    // height: 600px;
    background-position: top;
  }

  .section--2 {
    .card-container {
      flex-direction: column;
      gap: 2rem;
    }

    .card {
      width: 100%;
      height: min-content;
    }
  }

  .section--3 {
    .section__content {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .gallery {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
