<a11y-header></a11y-header>

<section id="contact" class="contact">
  @if (submitSuccess) {
  <div class="success">
    <h2>Thank you for your message {{ data.name }}</h2>
    <p>We will answer you as soon as possible</p>
  </div>
  }
  <div class="card">
    <div class="card__header">
      <h1 class="card__header__title">Contact us</h1>
      <p class="card__header__description">
        If you are so hype about our project and want to contact us, please fill
        the form below. (I did not write this text, Copilot did)
      </p>
    </div>
    <div class="card__body">
      <form
        action="post"
        (ngSubmit)="onSubmit()"
        #contactForm="ngForm"
        class="card__body__form"
      >
        <p>Inputs with <strong>*</strong> are required</p>
        <div class="card__body__form__inputGroup">
          <label for="name">Name <strong>*</strong></label>
          <input
            [(ngModel)]="data.name"
            placeholder="Your name"
            name="name"
            required
            type="text"
            #name="ngModel"
            tabindex="1"
            [ngClass]="{ error: name.invalid }"
          />
        </div>
        <div class="card__body__form__inputGroup">
          <label for="email">Email <strong>*</strong></label>
          <input
            type="email"
            [(ngModel)]="data.email"
            placeholder="Your email"
            name="email"
            required
            #email="ngModel"
            [ngClass]="{ error: email.invalid }"
            tabindex="2"
          />
        </div>
        <div class="card__body__form__inputGroup">
          <label for="phoneNumber">Phone number <strong>*</strong></label>
          <input
            [(ngModel)]="data.phoneNumber"
            name="phoneNumber"
            placeholder="Your phone number"
            required
            type="tel"
            pattern="\+[0-9]{11}"
            #phoneNumber="ngModel"
            [ngClass]="{ error: phoneNumber.invalid }"
            tabindex="3"
          />
          @if (phoneNumber.errors) {
          <p class="error">Phone number must be like +33612345678</p>
          }
        </div>
        <div class="card__body__form__inputGroup">
          <label for="age">Age <strong>*</strong></label>
          <input
            [(ngModel)]="data.age"
            name="age"
            required
            type="number"
            pattern="[1-9][0-9]*"
            #age="ngModel"
            [ngClass]="{ error: age.invalid }"
            tabindex="4"
          />
        </div>
        <div class="card__body__form__inputGroup">
          <label for="message">Message <strong>*</strong></label>
          <textarea
            [(ngModel)]="data.message"
            placeholder="Your message"
            name="message"
            type="text"
            required
            tabindex="5"
          ></textarea>
        </div>
        <div class="card__body__form__inputGroup">
          @if (contactForm['form'].valid) {
          <button type="submit" tabindex="6">Submit</button>
          } @else {
          <button type="submit" tabindex="6" class="disabled" disabled>
            Submit
          </button>
          }
        </div>
      </form>
    </div>
    <div class="card__footer">
      <p>
        Or contact us by mail at
        <a href="mailto:a11y.project@mail.com" tabindex="7"
          >a11y.project&#64;mail.com</a
        >
      </p>
    </div>
  </div>
</section>
