.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 250px);
}

strong {
  font-weight: bold;
  color: red;
}

.success {
  background-color: #e6f7ef;
  padding: 3.6rem;
  color: #217a51;
  border-radius: 0.5rem;
  border: 1px solid #bfecd8;
  margin-bottom: 3.6rem;
  margin-top: 100px;
}

.card {
  max-width: 500px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.6rem;
  padding: 3.6rem;
  background: #ffffff;

  &__header {
    margin-bottom: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__description {
      opacity: 0.7;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__body {
    margin-bottom: 2.6rem;
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6rem;

      &__inputGroup {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        & label {
          font-weight: bold;
        }

        & input,
        & textarea {
          flex-grow: 1;
          border-radius: 0.5rem;
          padding: 0.6rem;
          border: 1px solid rgb(221, 221, 221);

          &.error {
            border: 1px solid red;
          }
        }

        & textarea {
          resize: vertical;
        }

        & button {
          place-self: right;
          max-width: fit-content;
          // place-self: flex-end;
          border-radius: 0.5rem;
          padding: 0.6rem 1.6rem;
          background: #63bf94;
          color: white;
          border: none;
          cursor: pointer;

          &.disabled {
            background: #c4c4c4;
            color: #ffffff;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  &__footer {
    border-top: solid 1px rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.6rem;
  }
}

//Responsive for mobile
@media (max-width: 768px) {
  .card {
    padding: 2.6rem;
    margin-top: 55px;
    border-radius: 0;
    border: none;

    &__header {
      margin-bottom: 1.6rem;
    }

    &__body {
      margin-bottom: 1.6rem;
    }
  }
}
