<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="newsletter">
    <div class="newsletter__inner">
      <div class="newsletter__title">STAY TUNED</div>
      <div class="newsletter__content">
        <div class="newsletter__text">You do not want to miss our latest news!
          Give us your email address and you can be confident to get only the best content in your mailbox every single
          now and then.
        </div>
        

        <div class="newsletter__form">
          <form (ngSubmit)="signIn()" #newsletterForm="ngForm"></form>
          <div class="newsletter__wrapper">
          <div class="newsletter__icon"><i class="fas fa-envelope"></i></div>
          <input class="newsletter__input" type="text" placeholder="Your email address" [(ngModel)]="email" required>
        </div>

          <button class="newsletter__button" type="submit" [disabled]="newsletterForm['form'].invalid">Register</button>
        </div>

     
      </div>
    </div>

  </div>

