.newsletter {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1D1D1D;
  color:white;
  padding:45px;

  &__inner {
  }

  

  &__title {
    font-size: 25px;
    text-align: center;
    color: #63BF94;
    font-weight: bolder;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__text {
    font-size: 12px;
    text-align: center;
    width: 50%;
    

   

   
  }

  &__form {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

   
  }
  &__input {
    padding: 10px;
  }

  &__button {
    padding: 10px;
    border-radius: 20px;
    background: #63BF94;
    border-color: #63BF94;
    color: white;
    cursor: pointer;
  }
  &__icon {
    padding: 11px;
    background: #63BF94;
    border-color: #63BF94;
    color: white;
    cursor: pointer;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


}
