<a11y-header></a11y-header>
@if (news$ | async;as news) {

<article class="news">
  <div class="container">
    <div class="news-layout">
      <div class="news-layout__header">
        <div class="news__date">{{ news.date | date }}</div>
        <h1>{{ news.title }}</h1>
      </div>
      <div class="news-layout__body">
        <aside class="news-layout__body__aside">
          <p>Share on socials</p>
          <div class="news-layout__body__aside__social-sharing">
            <div>
              <a
                [href]="
                  'https://www.facebook.com/sharer/sharer.php?u=' + currentUrl
                "
                target="_blank"
                rel="noopener noreferrer"
                class="btn-facebook"
              >
                <i class="fab fa-facebook-f"></i> Partager
              </a>
            </div>
            <div>
              <a
                [href]="
                  'https://twitter.com/intent/tweet?url=' +
                  currentUrl +
                  '&text=Check this out'
                "
                target="_blank"
                rel="noopener noreferrer"
                class="btn-x"
              >
                <i class="fab fa-twitter"></i> Tweeter
              </a>
            </div>
            <div>
              <a
                (click)="copyLink(currentUrl)"
                rel="noopener noreferrer"
                class="btn-copy-link"
              >
                <i class="fas fa-link"></i> Copier le lien
              </a>
            </div>
          </div>
        </aside>
        <div class="news-layout__body__content">
          <div class="news_items">
            <div class="news__item">
              <div class="news__content">
                <p [innerHTML]="news.content"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
}
