.news {
  min-height: calc(100vh);
  padding-top: 150px;

  .news-layout {
    &__header {
      width: 100%;
      margin-bottom: 30px;
    }

    &__body {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2.6rem;

      &__aside {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-self: self-start;

        &__social-sharing {
          a {
            padding: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
            width: max-content;
            border-radius: 7px;
            width: 150px;
            margin-block: 0.6rem;
          }

          .btn-facebook {
            background-color: #3b5998;
            color: #fff;
            border-color: #3b5998;
            &:hover {
              background-color: #3b5998;
              color: #fff;
              border-color: #3b5998;
            }
          }

          // btn twitter
          .btn-x {
            background-color: #00aced;
            color: #fff;
            border-color: #00aced;
            &:hover {
              background-color: #00aced;
              color: #fff;
              border-color: #00aced;
            }
          }

          // btn share link
          .btn-copy-link {
            background-color: #007bb5;
            color: #fff;
            border-color: #007bb5;
            cursor: pointer;
            &:hover {
              background-color: #007bb5;
              color: #fff;
              border-color: #007bb5;
            }
          }
        }
      }

      &__content {
        width: 80%;
      }
    }
  }
}

// reponsive under 760px
@media (max-width: 760px) {
  .news {
    .news-layout {
      &__body {
        flex-direction: column;
        gap: 1.6rem;

        &__aside {
          width: 100%;
          align-self: center;
          justify-content: center;
          align-items: center;
          gap: 1.6rem;

          &__social-sharing {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            width: 100%;
            margin-block: 0.6rem;

            div {
              width: fit-content;
            }
          }
        }

        &__content {
          width: 100%;
        }
      }
    }
  }
}
